@{
    ViewBag.Title = "About";
}

<h2>About Employe Registration App....</h2>

<div class="" name="howto">
    <h4>How to</h4>
    <p>
        This web app utilizes .Nets inbuilt MVC scafolding to stream line creation of CRUD functionality.
        The view list page show cases said functionality.
        Into the MVC pattern a RESTfull api controller has also been implemented. The Employee Registration page utilises it.
        URL for api : /api/employee/{id}
        <br />
        Register and Log In to access the Employee Registration page.
        Social Logins on azure may have authorisation conflicts. Azure URL : <a href="http://empregapp.azurewebsites.net"> http://empregapp.azurewebsites.net </a> <br />
        No issues when run from localhost.<br />
        Admin login ;<br />
        user : user1@live.com<br />
        pass : passworD321<br />
        <br />
        Login in with a social account will also provide admin(canEdit) priviledges.
    </p>
</div>
<div class="all-res" name="resources">
    <p>
        <div class="tech sub-div" name="tech">
            <div class="">
                <h4>Technologies</h4>
            </div>
            <div class="">
                <ul>
                    <li>MVC</li>
                    <li>C#</li>
                    <li>.NET</li>
                    <li>RESTfull api</li>
                </ul>
            </div>
        </div>

        <div class="res sub-div" name="res">
            <div class="">
                <h4>Resources :</h4>
            </div>
            <div class="">
                <ul>
                    <li><a href="https://azure.microsoft.com">Azure Platform</a></li>
                    <li><a href="https://msdn.microsoft.com/en-us/library/ms123401.aspx">MSDN</a></li>
                </ul>
            </div>
        </div>


        <div class="source sub-div" name="source">
            <h4>Source Code :</h4>
            <ul>
                <li><a href="https://github.com/SeraphicScribe/empregapp">Code Repository</a></li>
            </ul>
        </div>
    </p>
</div>