@{
    ViewBag.Title = "Contact Details :";
}
<h2>@ViewBag.Title</h2>

<address>
    N0 572/5 Madiwala Rd<br />
    Talawatugoda, Colombo<br />
    <abbr title="Phone">P:</abbr>
    077-5478655
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:channaka@live.com">channaka@live.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/cnanayakkara">cnanayakkara</a><br />
</address>