@model IEnumerable<EmpRegApp.Models.Employee>

@{
    ViewBag.Title = "Home";
}
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/Employee.js"></script>
    <script src="~/Scripts/addvalidate.js"></script>
    @*<script src="~/Scripts/knockout.validation.js"></script>*@
    <script type="text/javascript">
        bootstrap_alert = function () { }
        bootstrap_alert.warning = function (message) {
            $('#alert_placeholder').html('<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        bootstrap_alert.success = function (message) {
            $('#alert_placeholder').html('<div class="alert alert-success" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        bootstrap_alert.warningrest = function (message) {
            $('#alert_placeholder_rest').html('<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }

        
        
    </script>

  <script type="text/javascript">
        // AntiForgery token script
        @functions{
            public string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;                
            }
        }

        // KO scripts
        function EmployeesViewModel() {
            var self = this;
            self.employees = ko.observableArray([]);
            
            
            


            // POST create Employee
            self.createEmployee = function () {
                $.ajax({
                    type: "POST",
                    url: "api/employees",
                    data: $("#addEmployee").serialize(),
                    dataType: "json",
                    success: function (data) {
                        self.employees.push(data);
                        bootstrap_alert.success("Employee registered");
                    },
                    headers: {
                        'RequestVerificationToken': '@TokenHeaderValue()'
                    }
                }).fail(
                    function (xhr, textStatus, err) {
                        bootstrap_alert.warningrest("Operation Invalid! Recheck Input values...");
                    });
            }
            
            // Delete Employee
            self.deleteEmployee = function (employee) {
                if (confirm('Are you sure to delete employee "' + employee.firstName + ' ' + employee.lastName + '" ?')) {
                    var id = employee.employeeID;

                    $.ajax({
                        type: "DELETE",
                        url: employee.Self,
                        success: function (data) {
                            self.employees.remove(employee);
                            bootstrap_alert.success("Employee Deleted Successfully");
                        },
                        headers: {
                            'RequestVerificationToken': '@TokenHeaderValue()'
                        }
                    }).fail(
                         function (xhr, textStatus, err) {
                             bootstrap_alert.warning("Operation Failed. Error : "+err);
                         });
                }
            }

            // GET all Employees
            $.getJSON("api/employees", function (data) {
                self.employees(data);
            });
        }
        ko.applyBindings(new EmployeesViewModel());
    </script>
}
<div id="alert_placeholder_rest"></div>
<div id="alert_placeholder"></div>
<h2>Employees</h2>
<div>
    @Html.ActionLink("View List", "List", "Home", new { @class = "btn btn-default btn-sm" })
</div>

<ul id="employees" data-bind="foreach: employees">
    <li class="ui-widget-content ui-corner-all">
        <h1 data-bind="text: firstName" class="ui-widget-header"></h1>
        <div><span data-bind="text: $data.nicNumber || 'nicNumber?'"></span></div>
        <div>
            <span data-bind="text: $data.streetAddress || 'streetAddress?'"></span>,
            <span data-bind="text: $data.city || 'city?'"></span>
        </div>
        <div data-bind="if: $data.email"><a data-bind="attr: { href: 'mailto:' + email }, text: email"></a></div>
        <div data-bind="ifnot: $data.email"><span>email?</span></div>
        <p>
            <a data-bind="attr: { href: Self }, click: $root.deleteEmployee" class="removeEmployees ui-state-default ui-corner-all">Remove</a>

        </p>
    </li>
</ul>

<form id="addEmployee" name="myForm" onsubmit="return(validateForm());" data-bind="submit: createEmployee">
    <fieldset>
        <legend>Add New Employee</legend>
        <ol>
            <li>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" />
            </li>
            <li>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" />
            </li>
            <li>
                <label for="streetAddress">Street Address</label>
                <input type="text" name="streetAddress">
            </li>
            <li>
                <label for="city">City</label>
                <input type="text" name="city" />
            </li>
            <li>
                <label for="mobileNumber">Mobile numer</label>
                <input type="text" name="mobileNumber" />
            </li>
            <li>
                <label for="nicNumber">NIC</label>
                <input type="text" name="nicNumber" />
            </li>
            <li>
                <label for="email">E-mail</label>
                <input type="text" name="email" />
            </li>
            <li>
                <label for="birthDate">Date of Birth</label>
                <input type="text" name="birthDate" />
            </li>
        </ol>
        <input class="btn btn-default" id="clickme" type="submit" value="Add" />
    </fieldset>
</form>